body {
    margin: 0;
    /* Elimina el margen predeterminado */
    padding: 0;
    /* Elimina el relleno predeterminado */
    box-sizing: border-box;
    height: auto;
}

.hidden {
    display: none;
}

#eslogan {
    text-align: center;
    font-weight: bold;
    /* Opcional para que el texto sea negrita */
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

.div1 {
    grid-column: 1 / 4;
    grid-row: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.div1 img {
    width: 100%;
    height: 525px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.div1 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 90%;
    height: 60%; /* Mantiene la proporción original de la imagen */
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Asegura que los elementos se coloquen en columna (imagen arriba, texto abajo) */
    align-items: center; /* Centra verticalmente el contenido del span */
    justify-content: center; /* Centra horizontalmente el contenido del span */
}

.div1 img.logo {
    width: 65%;
    height: auto;
    margin: 0 auto;
}

.div1 p {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}

.div2,
.div3,
.div4 {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

.div2 {
    grid-column: 1;
    background-color: #4CAF50;
}

.div3 {
    grid-column: 2;
    background-color: #FFC107;
    color: black;
}

.div4 {
    grid-column: 3;
    background-color: #F44336;
}

.div2 i,
.div3 i,
.div4 i {
    margin-right: 8px;
}

@media (max-width: 700px) {
    .parent {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .div1 {
        grid-column: 1;
    }

    .div2,
    .div3,
    .div4 {
        grid-column: 1;
        margin-bottom: 1px;
    }

    .div1 img.logo {
        width: 330px;
        /* Tamaño ajustado para pantallas pequeñas */
    }
}