<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <header>
        <div class="navbar">
            <div class="logo" style="margin-left: -20px">
                <a href="/genero">
                    <img src="icono.ico" style="width: 26px; height: 26px; margin-bottom: -4px;" alt="Logo">
                    MEGA+
                </a>
            </div>
            <div>
                <p *ngIf="credencial" style="color: white; margin-top: 2px; margin-bottom: 0px; margin-left: -20px">
                    Bienvenido {{ credencial.nombre }}
                </p>
            </div>
            <div>
                <a href="/inicio" id="juegos-link"><i class="fas fa-times-circle"></i></a>
            </div>
        </div>
    </header>

    <div id="inicio" class="bienvenida" style="margin-top: 15px; margin-bottom: 35px;">
        <p *ngIf="credencial" id="titulo"><b> {{credencial.nombre_genero}} </b></p>
        <title *ngIf="credencial"> {{credencial.nombre_genero}} </title>
    </div>

    <div class="image-container" *ngIf="credencial">
        <div *ngFor="let item of lista_contenido_filtrada">
            <!-- Solo muestra el contenido si el tipo coincide con el id_genero -->

            <div class="image-item">
                <a (click)="VerDetalle(item.id)" class="image-link">
                    <img class="item-imagen" src="{{ item.imagen }}" alt="{{ item.clave }}">
                </a>
                <p class="item-nombre">{{ item.nombre }}</p>
            </div>
        </div>
    </div>

</body>